#y1{
    background: linear-gradient( #f1c40f,#e67e22,#e55039);
    background-image: url("th.jpg");

}
h1{
    font-family: cursive;
    color:crimson;
    text-align:center;
    font-size:55px;
}
#y3{
    background: linear-gradient( #f1c40f,#e67e22,#e55039);
    

}
#y2{
    background: linear-gradient( #f8c291,#0c2461,#1e3799,#e55039);
    

}